@keyframes scrollMarquee {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-marquee {
  animation-name: scrollMarquee;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.achievement-list:hover {
  animation-play-state: paused;
}
