@font-face {
  font-family: "Baskerville";
  src: url("./Assets/fonts/fonts/Baskervville-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Baskerville", serif;
}